<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shop.dao.OrderPOMapper" >
  <resultMap id="BaseResultMap" type="shop.pojo.OrderPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="buyer_id" property="buyerId" jdbcType="VARCHAR" />
    <result column="order_sn" property="orderSn" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="payment_status" property="paymentStatus" jdbcType="INTEGER" />
    <result column="shipping_status" property="shippingStatus" jdbcType="INTEGER" />
    <result column="receiver_id" property="receiverId" jdbcType="VARCHAR" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    <result column="post_fee" property="postFee" jdbcType="DECIMAL" />
    <result column="pay_fee" property="payFee" jdbcType="DECIMAL" />
    <result column="point" property="point" jdbcType="BIGINT" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
    <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="active" property="active" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, seller_id, buyer_id, order_sn, order_status, payment_status, shipping_status, 
    receiver_id, total_price, post_fee, pay_fee, point, memo, trade_no, transaction_id, 
    invoice_title, created, updated, active
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="shop.pojo.OrderPO" >
    insert into t_order (id, seller_id, buyer_id, 
      order_sn, order_status, payment_status, 
      shipping_status, receiver_id, total_price, 
      post_fee, pay_fee, point, 
      memo, trade_no, transaction_id, 
      invoice_title, created, updated, 
      active)
    values (#{id,jdbcType=BIGINT}, #{sellerId,jdbcType=BIGINT}, #{buyerId,jdbcType=VARCHAR}, 
      #{orderSn,jdbcType=VARCHAR}, #{orderStatus,jdbcType=INTEGER}, #{paymentStatus,jdbcType=INTEGER}, 
      #{shippingStatus,jdbcType=INTEGER}, #{receiverId,jdbcType=VARCHAR}, #{totalPrice,jdbcType=DECIMAL}, 
      #{postFee,jdbcType=DECIMAL}, #{payFee,jdbcType=DECIMAL}, #{point,jdbcType=BIGINT}, 
      #{memo,jdbcType=VARCHAR}, #{tradeNo,jdbcType=VARCHAR}, #{transactionId,jdbcType=VARCHAR}, 
      #{invoiceTitle,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, 
      #{active,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="shop.pojo.OrderPO" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="orderSn != null" >
        order_sn,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="paymentStatus != null" >
        payment_status,
      </if>
      <if test="shippingStatus != null" >
        shipping_status,
      </if>
      <if test="receiverId != null" >
        receiver_id,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="postFee != null" >
        post_fee,
      </if>
      <if test="payFee != null" >
        pay_fee,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="tradeNo != null" >
        trade_no,
      </if>
      <if test="transactionId != null" >
        transaction_id,
      </if>
      <if test="invoiceTitle != null" >
        invoice_title,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="active != null" >
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="orderSn != null" >
        #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="paymentStatus != null" >
        #{paymentStatus,jdbcType=INTEGER},
      </if>
      <if test="shippingStatus != null" >
        #{shippingStatus,jdbcType=INTEGER},
      </if>
      <if test="receiverId != null" >
        #{receiverId,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="postFee != null" >
        #{postFee,jdbcType=DECIMAL},
      </if>
      <if test="payFee != null" >
        #{payFee,jdbcType=DECIMAL},
      </if>
      <if test="point != null" >
        #{point,jdbcType=BIGINT},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null" >
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="invoiceTitle != null" >
        #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null" >
        #{active,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="shop.pojo.OrderPO" >
    update t_order
    <set >
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="orderSn != null" >
        order_sn = #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="paymentStatus != null" >
        payment_status = #{paymentStatus,jdbcType=INTEGER},
      </if>
      <if test="shippingStatus != null" >
        shipping_status = #{shippingStatus,jdbcType=INTEGER},
      </if>
      <if test="receiverId != null" >
        receiver_id = #{receiverId,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="postFee != null" >
        post_fee = #{postFee,jdbcType=DECIMAL},
      </if>
      <if test="payFee != null" >
        pay_fee = #{payFee,jdbcType=DECIMAL},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=BIGINT},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null" >
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="invoiceTitle != null" >
        invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null" >
        active = #{active,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="shop.pojo.OrderPO" >
    update t_order
    set seller_id = #{sellerId,jdbcType=BIGINT},
      buyer_id = #{buyerId,jdbcType=VARCHAR},
      order_sn = #{orderSn,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=INTEGER},
      payment_status = #{paymentStatus,jdbcType=INTEGER},
      shipping_status = #{shippingStatus,jdbcType=INTEGER},
      receiver_id = #{receiverId,jdbcType=VARCHAR},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      post_fee = #{postFee,jdbcType=DECIMAL},
      pay_fee = #{payFee,jdbcType=DECIMAL},
      point = #{point,jdbcType=BIGINT},
      memo = #{memo,jdbcType=VARCHAR},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP},
      active = #{active,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>