<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shop.dao.ProductPOMapper" >
  <resultMap id="BaseResultMap" type="shop.pojo.ProductPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="name_desc" property="nameDesc" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="delivery_weight" property="deliveryWeight" jdbcType="DECIMAL" />
    <result column="is_marketable" property="isMarketable" jdbcType="BIT" />
    <result column="is_unified_spec" property="isUnifiedSpec" jdbcType="BIT" />
    <result column="is_list" property="isList" jdbcType="BIT" />
    <result column="sales" property="sales" jdbcType="BIGINT" />
    <result column="product_category_id" property="productCategoryId" jdbcType="BIGINT" />
    <result column="delivery_type" property="deliveryType" jdbcType="INTEGER" />
    <result column="delivery_fees" property="deliveryFees" jdbcType="DECIMAL" />
    <result column="delivery_template_id" property="deliveryTemplateId" jdbcType="BIGINT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="active" property="active" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="shop.pojo.ProductPO" extends="BaseResultMap" >
    <result column="introduction" property="introduction" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, seller_id, sn, name, name_desc, price, market_price, image, stock, delivery_weight, 
    is_marketable, is_unified_spec, is_list, sales, product_category_id, delivery_type, 
    delivery_fees, delivery_template_id, created, updated, active
  </sql>
  <sql id="Blob_Column_List" >
    introduction
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_product
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="listProduct" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    from t_product
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_product
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="shop.pojo.ProductPO" >
    insert into t_product (id, seller_id, sn, 
      name, name_desc, price, 
      market_price, image, stock, 
      delivery_weight, is_marketable, is_unified_spec, 
      is_list, sales, product_category_id, 
      delivery_type, delivery_fees, delivery_template_id, 
      created, updated, active, 
      introduction)
    values (#{id,jdbcType=BIGINT}, #{sellerId,jdbcType=BIGINT}, #{sn,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{nameDesc,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{marketPrice,jdbcType=DECIMAL}, #{image,jdbcType=VARCHAR}, #{stock,jdbcType=INTEGER}, 
      #{deliveryWeight,jdbcType=DECIMAL}, #{isMarketable,jdbcType=BIT}, #{isUnifiedSpec,jdbcType=BIT}, 
      #{isList,jdbcType=BIT}, #{sales,jdbcType=BIGINT}, #{productCategoryId,jdbcType=BIGINT}, 
      #{deliveryType,jdbcType=INTEGER}, #{deliveryFees,jdbcType=DECIMAL}, #{deliveryTemplateId,jdbcType=BIGINT}, 
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, #{active,jdbcType=INTEGER}, 
      #{introduction,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="shop.pojo.ProductPO" >
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nameDesc != null" >
        name_desc,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="marketPrice != null" >
        market_price,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="deliveryWeight != null" >
        delivery_weight,
      </if>
      <if test="isMarketable != null" >
        is_marketable,
      </if>
      <if test="isUnifiedSpec != null" >
        is_unified_spec,
      </if>
      <if test="isList != null" >
        is_list,
      </if>
      <if test="sales != null" >
        sales,
      </if>
      <if test="productCategoryId != null" >
        product_category_id,
      </if>
      <if test="deliveryType != null" >
        delivery_type,
      </if>
      <if test="deliveryFees != null" >
        delivery_fees,
      </if>
      <if test="deliveryTemplateId != null" >
        delivery_template_id,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="active != null" >
        active,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameDesc != null" >
        #{nameDesc,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="deliveryWeight != null" >
        #{deliveryWeight,jdbcType=DECIMAL},
      </if>
      <if test="isMarketable != null" >
        #{isMarketable,jdbcType=BIT},
      </if>
      <if test="isUnifiedSpec != null" >
        #{isUnifiedSpec,jdbcType=BIT},
      </if>
      <if test="isList != null" >
        #{isList,jdbcType=BIT},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=BIGINT},
      </if>
      <if test="productCategoryId != null" >
        #{productCategoryId,jdbcType=BIGINT},
      </if>
      <if test="deliveryType != null" >
        #{deliveryType,jdbcType=INTEGER},
      </if>
      <if test="deliveryFees != null" >
        #{deliveryFees,jdbcType=DECIMAL},
      </if>
      <if test="deliveryTemplateId != null" >
        #{deliveryTemplateId,jdbcType=BIGINT},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null" >
        #{active,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="shop.pojo.ProductPO" >
    update t_product
    <set >
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameDesc != null" >
        name_desc = #{nameDesc,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="deliveryWeight != null" >
        delivery_weight = #{deliveryWeight,jdbcType=DECIMAL},
      </if>
      <if test="isMarketable != null" >
        is_marketable = #{isMarketable,jdbcType=BIT},
      </if>
      <if test="isUnifiedSpec != null" >
        is_unified_spec = #{isUnifiedSpec,jdbcType=BIT},
      </if>
      <if test="isList != null" >
        is_list = #{isList,jdbcType=BIT},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=BIGINT},
      </if>
      <if test="productCategoryId != null" >
        product_category_id = #{productCategoryId,jdbcType=BIGINT},
      </if>
      <if test="deliveryType != null" >
        delivery_type = #{deliveryType,jdbcType=INTEGER},
      </if>
      <if test="deliveryFees != null" >
        delivery_fees = #{deliveryFees,jdbcType=DECIMAL},
      </if>
      <if test="deliveryTemplateId != null" >
        delivery_template_id = #{deliveryTemplateId,jdbcType=BIGINT},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null" >
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="shop.pojo.ProductPO" >
    update t_product
    set seller_id = #{sellerId,jdbcType=BIGINT},
      sn = #{sn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      name_desc = #{nameDesc,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      image = #{image,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      delivery_weight = #{deliveryWeight,jdbcType=DECIMAL},
      is_marketable = #{isMarketable,jdbcType=BIT},
      is_unified_spec = #{isUnifiedSpec,jdbcType=BIT},
      is_list = #{isList,jdbcType=BIT},
      sales = #{sales,jdbcType=BIGINT},
      product_category_id = #{productCategoryId,jdbcType=BIGINT},
      delivery_type = #{deliveryType,jdbcType=INTEGER},
      delivery_fees = #{deliveryFees,jdbcType=DECIMAL},
      delivery_template_id = #{deliveryTemplateId,jdbcType=BIGINT},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP},
      active = #{active,jdbcType=INTEGER},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="shop.pojo.ProductPO" >
    update t_product
    set seller_id = #{sellerId,jdbcType=BIGINT},
      sn = #{sn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      name_desc = #{nameDesc,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      image = #{image,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      delivery_weight = #{deliveryWeight,jdbcType=DECIMAL},
      is_marketable = #{isMarketable,jdbcType=BIT},
      is_unified_spec = #{isUnifiedSpec,jdbcType=BIT},
      is_list = #{isList,jdbcType=BIT},
      sales = #{sales,jdbcType=BIGINT},
      product_category_id = #{productCategoryId,jdbcType=BIGINT},
      delivery_type = #{deliveryType,jdbcType=INTEGER},
      delivery_fees = #{deliveryFees,jdbcType=DECIMAL},
      delivery_template_id = #{deliveryTemplateId,jdbcType=BIGINT},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP},
      active = #{active,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>